#content{
    max-width: 1000px;
}

#header{
    background-image: url("img/200.jpeg");
    background-size: cover;
    height: 200px;
}

h1{
    color: white;
    text-align: center;
    padding-top: 70px;
}

#image1{
    float: left;
    margin-right: 10px;
}

#image2{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

p{
    text-align: justify;
}

#footer{

    clear: both;
    background: black;
    height: 200px;
}