#content{
    height: 600px;
    width: 600px;
    background-color: lightskyblue;
    position: relative;
}

#clouds{
    background-image: url("img/clouds.png");
    height: 73px;
}

#mario{
    background-image: url("img/mario.png");
    height: 113px;
    width: 239px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
}

#floor{
    background-image: url("img/base.png");
    height: 14px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}